body {
  background-image: url("https://res.cloudinary.com/ontraveldiary/image/upload/v1633290594/FOMOBABY/bg-top.ab4f7003_uiksih.png");
  background-size: cover;
  background-repeat: no-repeat;

}

.paraent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  background-color: #058A22;
  box-shadow: 10px 5px rgba(223, 236, 225, 0.658);
  border-radius: 6px;
  padding: 10px;

}

.card {
  box-shadow: 5px 5px rgba(0, 171, 24, 0.05);
}

.card-body{
  background-color: rgba(248, 255, 247, 0.849);
  color: black;
  border-radius: 5px;
  text-align: center;

}
.card-title{
  background-color: rgb(6, 189, 0);
  border-radius: 3px;
  text-align: start;
  width: 100%;
  color: white;
  padding: 5px
}
.card-subtitle{
  background-color: rgb(6, 189, 0);
  border-radius: 3px;
  text-align: start;
  color: white;
  padding: 5px

}

.card-text {
  font-weight: 500;
  font-size: medium;
  color: rgb(0, 0, 0);
}
.winner {
  font-size: 16px;
  font-weight: 700;
  color: rgb(91, 161, 241);
}

.lottery-expired {
  font-weight: 900;
  color: rgb(201, 48, 48);
}

.card-link {
  font-size: 30px;
  color: rgb(76, 238, 76);
}

.play-btn {
  padding: 10px 20px 10px 20px;
  color: aliceblue;
  background-color: rgb(5, 192, 5);
  border: none;
  margin-top: -5px;
  border-radius: 5px;
  text-decoration: none;
}