.playlottery {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    gap: 40px;
    background-color: rgb(139, 221, 139);
    box-shadow: 10px 5px rgba(223, 236, 225, 0.658);
    border-radius: 6px;
    padding: 10px;

}

.submit-btn {
    padding: 10px 20px 10px 20px;
    background-color: #05C005;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    
}

.table-responsive {
    max-height:300px;
}

.child-flex {
    border-color: black
}
